/* Reset default browser styles */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/* Remove default padding and margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scrolling for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve text readability */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Address inconsistent line height in all browsers (opinionated) */
button,
input,
optgroup,
select,
textarea {
  line-height: normal;
}

/* Correct the odd `font-size` override in Chrome for all form elements. */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  border: none;
  outline: none;
}
*:focus {
  outline: none;
  border: none;
}

/* Remove the inner border and padding in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Improve media defaults */
video {
  display: block;
  max-width: 100%;
}
