:root {
  --clr_white: #fff;
  --clr_theme: #036e8a;
  --clr_secondary: #ff8000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

/* =====Header Area CSS====== */
.header_area {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  background: var(--clr_white);
  z-index: 9999999;
}
.header_content {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  color: var(--clr_theme);
}
.nav_right_btns ul,
.main_menu ul {
  display: flex;
}
.main_menu ul li a {
  padding: 25px 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.nav_right_btns ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--clr_theme);
  border-radius: 50%;
  font-size: 16px;
  margin-left: 10px;
}

/* =====Header Area CSS====== */

/* =====Slider Area CSS===== */

.slider_area {
  padding-top: 80px;
  background: url("../images/slider.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}
.slider_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  max-width: 700px;
  margin: 0 auto;
  color: var(--clr_white);
}
.slider_content h1 {
  font-size: 89px;
  color: var(--clr_white);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}
.slider_content p {
  margin: 20px 0;
}
.search_location_btn {
  align-self: flex-start;
}
.search_location_btn .search {
  padding: 10px 15px;
  background: var(--clr_white);
  border-radius: 5px;
  border: none;
}
.search_location_btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--clr_secondary);
  color: var(--clr_white);
  margin-left: 5px;
}
/* =====Slider Area CSS===== */

/* ==== Featured Area CSS ==== */
.featured_area {
  background: url("../images/featuredBg.png");
}

.feature_content {
  padding: 50px 0;
}
.feature_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
h3.section_heading {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.single_featured h2,
.top_left h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--clr_theme);
  text-transform: uppercase;
  line-height: 1;
  margin: 42px 0;
}
.top_left p {
  font-size: 20px;
}
.booking {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  border: 2px solid var(--clr_theme);
  border-radius: 5px;
}
.location {
  position: relative;
}
.location h4 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.location::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: var(--clr_secondary);
  top: 0;
  right: -100px;
}
.rating i {
  color: var(--clr_secondary);
}
.prices p {
  font-size: 20px;
  text-transform: capitalize;
}
.prices h2 {
  font-size: 60px;
  font-weight: 700;
  color: var(--clr_theme);
}
.contact_us_btn,
.subs_btn a,
.book_btn a {
  display: block;
  padding: 13px 18px;
  text-transform: uppercase;
  color: var(--clr_white);
  background: var(--clr_secondary);
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid var(--clr_secondary);
  transition: all 0.3s ease;
}
.contact_us_btn:hover,
.subs_btn a:hover,
.book_btn a:hover {
  background: var(--clr_white);
  color: var(--clr_secondary);
}

.package_heading {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--clr_theme);
  text-align: center;
}
.all_packages p.details {
  font-size: 20px;
  text-align: center;
}

.packages {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 0;
}
.single_package {
  position: relative;
  border: 2px solid var(--clr_theme);
  padding: 30px 20px;
  border-radius: 10px;
}
.pack_name {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr_theme);
}
.single_package h2 {
  font-weight: 700;
  font-size: 60px;
  color: var(--clr_theme);
}
.single_package p {
  color: var(--clr_theme);
  font-size: 25px;
}
.single_package ul {
  padding: 20px 0;
}
.single_package ul li {
  font-size: 18px;
}
.single_package ul li i {
  color: var(--clr_theme);
  margin-right: 10px;
}
.rating i:last-child,
.icon_light_clr i {
  opacity: 0.5;
}
.pack_btn {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.pack_btn a {
  padding: 5px 8px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  background: var(--clr_theme);
  border: 2px solid var(--clr_theme);
  border-radius: 8px;
  color: var(--clr_white);
  text-transform: uppercase;
}
.pack_btn a:hover {
  background: var(--clr_white);
  border: 2px solid var(--clr_secondary);
}
.single_package:hover .pack_btn a {
  background: var(--clr_secondary);
  border: 2px solid var(--clr_secondary);
}
.single_package:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.single_package:hover i,
.single_package:hover p,
.single_package:hover h3,
.single_package:hover h2 {
  color: var(--clr_secondary);
}

/* ==== Featured Area CSS ==== */

/* ==== Single Featured Area ==== */

.single_featured {
  background: var(--clr_theme);
}
.single_featured_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background: url("../images/singleFeaturedBg.png") no-repeat center;
  background-size: cover;
  padding: 50px 0;
}
.featured_details h3,
.featured_details h2,
.featured_details p {
  color: var(--clr_white);
}

/* ==== Single Featured Area ==== */

/* ==== Most Destination Area ==== */
.most_destinations_content p.details {
  margin: 20px 0 30px 0;
  text-align: center;
}
.destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single_destination {
  margin-bottom: 30px;
}
.single_destination picture {
  position: relative;
}

.dest_location {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 0 0 30px 30px;
  text-align: center;
  padding: 15px 0;
  color: var(--clr_white);
}

/* ==== Most Destination Area ==== */

/* ====Counter Area ===== */
.counter_area {
  background: url("../images/counterBg.png") no-repeat center;
  background-size: cover;
}
.counter_content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.single_count h4 {
  font-size: 55px;
  font-weight: 700;
  color: var(--clr_white);
}
.single_count p {
  font-size: 30px;
  font-weight: 400;
  color: #949393;
}

/* ====Counter Area ===== */

/* ====Subs and comment area ==== */

.top_img,
.subs_content,
.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subs_content {
  padding: 20px 0 50px 0;
}
.subs_content .content p {
  font-size: 30px;
  text-transform: uppercase;
}
.subs_content .content h3 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  color: var(--clr_theme);
  padding: 30px 0;
}
.subs_btn input {
  padding: 15px 20px;
  border: 2px solid var(--clr_theme);
  border-radius: 5px;
}
.subs_btn a {
  display: inline-block;
  padding: 11px 16px;
  text-transform: capitalize;
}

.sponsors {
  padding: 30px 20px;
  border: 2px solid var(--clr_theme);
  border-radius: 10px;
}
.sponsors picture {
  position: relative;
}
.sponsors picture::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 70%;
  background: var(--clr_theme);
  top: 15px;
  right: -80px;
}
.sponsors picture:last-child::before {
  display: none;
}
.comments {
  padding: 50px 0;
}
.comments p.details {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.all_comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 50px;
}
.single_comment {
  box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.16);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single_comment h4 {
  color: var(--clr_theme);
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}
.single_comment h5 {
  font-weight: 700;
  font-size: 20px;
  color: #262525;
}
.single_comment p {
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}
.ratings ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.ratings i {
  color: var(--clr_secondary);
}

/* ====Subs and comment area ==== */

/* ====Contact Us Area ===== */

.contact_us_content {
  background: var(--clr_theme) url("../images/contactUsBg.png") no-repeat center;
  background-size: 70%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--clr_white);
  border-radius: 10px;
}
.contact_us_content h2 {
  font-size: 70px;
  font-weight: 700;
}
.contact_us_content p {
  font-size: 30px;
  font-weight: 500;
  padding: 50px 0;
  text-align: center;
}
.contact_us_btn {
  padding: 15px 30px;
  font-weight: 500;
  
}

/* ====Contact Us Area ===== */
